.mywishlist-land-page {
  max-width: 62.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 5rem;
  gap: 0.62rem;
}

.mywishlist-land-page .vertical-card .material-icons-outlined {
  color: #f0586a;
}
