.mycart-container {
  margin: 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.25rem;
  margin-top: 5rem;
  align-items: flex-start;
}

.quantity-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.mycart-description > .btn-link {
  position: absolute;
  top: 0px;
  right: 0px;
}

.btn-link .material-icons {
  color: black;
}

.quantity-container > .btn {
  padding: 0.3rem;
  border: 2px solid var(--raisin-black);
  color: var(--raisin-black);
}

.quantity-display {
  border: 2px solid var(--raisin-black);
  padding: 0 1rem;
  padding-top: 0.2rem;
}

.card-mycart {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
}

.card-mycart-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}

.mycart .text-only-card {
  padding: 2rem;
  margin: 0.62rem;
}

.mycart .product-description {
  padding: 1rem;
}

.sub-section-container {
  max-width: 28.12rem;
  width: 100%;
  box-shadow: var(--btn-box-shadow);
  min-height: 14rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
  position: relative;
}

.text-line-through {
  text-decoration: line-through;
}

.ss-image {
  display: block;
  object-fit: cover;
  max-width: 11rem;
  width: 100%;
  height: auto;
  margin: 1rem 0 1rem 1rem;
}

.mycart-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7px;
  flex-wrap: wrap;
  padding: 1rem 0.8rem;
}

.sub-section-container .btn {
  margin: 0;
  font-size: 0.8rem;
}

.horizontal-card-container {
  display: flex;
  flex-direction: column;
}
